<h1>All Articles</h1>

<div id="listbox">
<ul id="articles">
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article) %>
    </li>
  <% end %>
</ul>
<%= link_to "Create a New Article", new_article_path, class: "new_article" %>
</div>

<style>
p,li,h1,* {
  text-align: center;
  text-decoration: none;
}
h1 {
  color: black;
}
li,p {
  color: white;
}
#articles {
  border: 2px solid black;
}
#listbox {
  background-color: aquamarine;
}


</style>
